@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
body {
  font: normal 1.1em 'Open Sans'; }

h1 {
  color: grey;
  font-size: 2em;
  text-decoration: underline; }

h2 {
  font-family: 'Open Sans';
  color: #cc0000;
  font-weight: 400; }

.grid6 {
  width: 80%;
  margin: 0 auto;
  /*float: left;*/
  /*	padding: 10px 40px;*/ }

.row {
  width: 100%;
  margin: 0 auto; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.block {
  border: 1px dashed red;
  margin: 0 0.6% 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 32%;
  float: left; }

.block:last-child {
  margin-right: 0; }

.block2 {
  width: 48%;
  float: left;
  margin-right: 2%; }
  .block2 img {
    margin-top: 25px; }

.block2:last-child {
  margin-right: 0; }

@media (max-width: 1400px) {
  .block2 {
    width: 100%;
    margin-right: 0; }
    .block2 img {
      margin: 0 auto;
      display: block; } }

@media (max-width: 1200px) {
  h1 {
    font-size: 1.5em; } }

@media (max-width: 991px) {
  .block {
    width: 100%;
    margin-left: 0; }
  .block2 {
    width: 48%;
    float: left;
    margin-right: 2%; }
    .block2 img {
      margin: 0 auto; }
  .block2:last-child {
    margin-right: 0; } }
